body{
    background-color: rgb(200, 206, 206);
    margin: 0;
}

.card{
    width: 100px;
    height: 100px;
    background: gray;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.symbol{
    height: 20px;
    width: 20px;
    background: green;
    border-radius: 100%;
    margin: 10px;
}

.card > .symbol {
    background: black;
}

/* .card::before{
    content: '';
    width: 30px;
    height: 30px;
    background-color: blue;
    display: block;
}

.card::after{
    content: '';
    width: 30px;
    height: 30px;
    background-color: red;
    display: block;
} */

.segitiga{
    border-width: 50px;
    border-color: transparent transparent orange transparent;
    border-style: solid;
    width: 0px;
}
/* .segitiga::before{
    content:'' ;
    border-width: 57px;
    border-color: transparent transparent black transparent;
    border-style: solid;
    width: 0px;
    position: absolute;
    z-index: -1;
    top: -2px;
    left: 2px;
} */
.forflex{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.forgrid{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "head head" "side content";

}

.header{
    width: 100%;
    height: 100px;
    background:rgb(5, 39, 61);
    grid-area: head;
    position: fixed;
}

.sidebar{
    width: 100px;
    height: calc(100vh - 100px)   ;
    background: rgb(109, 109, 119);
    grid-area: side;
    position: fixed;
}

.content{
    width: 100%;
    height: auto;
    background: brown;
    display: flex;
    justify-content: space-evenly;
    grid-area: content;
}

.card:first{
    
}
.card-group .card:first-child{
    background-color: chartreuse;
}
/* .card:nth-child(3){

} */
.card:first-of-type{
    background-color: coral;
}


@media screen and (max-width: 1000px){
    .forgrid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: "head" "content" "side";
    
    }
    
    .sidebar{
        width: 100%;
        height: 50px   ;        
    }

    .content{
        width: 100%;
        height: calc(100vh - 150px);
    }
}
